# Dependency directory
node_modules/

# Python-related files
*.pkl
__pycache__/
*.py[cod]
*.csv
venv/
# Firebase credentials (Replace this with your actual Firebase file if the name differs)
hydrolearn-f411f-firebase-adminsdk-p51y1-e521470dd6.json

# Logs and debug files
*.log
npm-debug.log*

# Environment variable files (if any)
.env
dev.env

# Package lock files (optional, but some teams choose not to track these)
package-lock.json

# Operating system files (Mac/Linux/Windows)
.DS_Store
Thumbs.db
