/* src/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white; /* Changed to white */
    color: #3498db; /* HydroLearn blue for the text */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}


.nav-left h2 {
    margin: 0;
    font-size: 1.8em;
    color: #3498db; /* Same color as your theme */
}

.nav-right .nav-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-right .nav-button:hover {
    background-color: #3498db;
    color: white;
}

